NEXT_PUBLIC_API_BASE_URL=https://astrodhwaj-back-end.onrender.com/api/v1
NEXT_PUBLIC_SOCKET_URL=https://astrodhwaj-back-end.onrender.com
NEXT_PUBLIC_RAZORPAY_KEY=
NEXT_PUBLIC_TAROT_API_URL=https://tarot-api-jc4y.onrender.com
NEXT_PUBLIC_TAROT_API_KEY=supersecret123
